<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>story 7</title>
</head>
<body class="morning">
    <p id="greeting">good morning!</p>
    <div class="container">
        <label class="switch"><input type="checkbox" /><div></div></label>
    </div>

    <div class="about">
        <button class="accordion">current activities</button>
        <div class="panel one">
            <p>go to classes, sleep</p>
        </div>
        <br>
        <button class="accordion">experiences</button>
        <div class="panel two">
            <p>public relation @ open house 2018</p>
            <p>event @ cgt</p>
            <p>playground @ compfest 11</p>
            <p>creative @ open house 2019</p>
            <p>creative media @ dpm fasilkom ui 2019</p>
        </div>
        <br>
        <button class="accordion">achievements</button>
        <div class="panel three">
            <p>gaada huhuhuhuhu</p>
        </div>
    </div>

    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
</body>
</html>