* {
    box-sizing: border-box;
}

.container {
    position: absolute;
    right: 0; left: 0;
    height: 40px;
    margin: auto;
    text-align: center;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 2em;
    width: 4em;
    background: white;
    border-radius: 1em;
}

.switch div {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    background: #E5E5E5;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
            transition: all 300ms;
}

.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

body {
    width: 100vw;
    height: 100vh;
}

#greeting {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}

.about {
    position: absolute;
    top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.accordion {
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    color: #333333;
    margin: 10px;
    margin-bottom: 0%;
    padding: 5px 0px;
    width: 30vw;
}

.panel {
    padding: 5px 0px;
    margin: auto;
    margin-top: 0%;
    background-color: #3C3A5F;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 30vw;
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
}

/**
* morning theme
*/

.morning {
    background: linear-gradient(180deg, #C3D2E5 33.46%, #96A4C1 100%);
}

.morning #greeting {
    color: #333333;
}

.morning .one {
    background-color: #7189BF;
}

.morning .oneacc {
    color: #7189BF;
}

.morning .two {
    background-color: #5E587C;
}

.morning .twoacc {
    color: #5E587C;
}

.morning .three {
    background-color: #B9D1DB;
    color: #333;
}

.morning .threeacc {
    color: #B9D1DB;
}

/**
* sunset theme
*/

.sunset {
    background: linear-gradient(180deg, #7189BF 0%, rgba(255, 196, 191, 0.76) 48.96%, #D97B7A 100%);
}

.sunset #greeting {
    color: white;
}

.sunset .one {
    background-color: #F3A195;
}

.sunset .oneacc {
    color: #F3A195;
}

.sunset .two {
    background-color: #D97B7A;
}

.sunset .twoacc {
    color: #D97B7A;
}

.sunset .three {
    background-color: #7D6F86;
}

.sunset .threeacc {
    color: #7D6F86;
}